$ORIGIN	aagelectronica.com.
$TTL 86400
@   IN  SOA     masterdns.aagelectronica.com. root.aagelectronica.com. (
	{{ serialZone }}  ;Serial
        3600        ;Refresh
        1800        ;Retry
        604800      ;Expire
        86400       ;Minimum TTL
)
@       IN  NS          masterdns.aagelectronica.com.
@       IN  Ns          slavedns1.aagelectronica.com.
@       IN  Ns          slavedns2.aagelectronica.com.
@       IN  A           99.192.255.81
@       IN  A           99.192.255.81
slavedns1       IN  A   10.10.4.32
slavedns2       IN  A   10.190.4.32
masterdns       IN  A   10.190.5.230
www             IN  A   99.192.255.81
aagelectronica		A	99.192.255.81
mail			A	99.192.255.81
webmail			A	99.192.255.81
ftp			A	99.192.255.81
