$TTL 86400
@   	IN  SOA      encontrack.com. masterdns.encontrack.com. (
	{{ serialZone }}   ;Serial
        86400        ;Refresh
        3600         ;Retry
        1296000      ;Expire
        7200         ;Minimum TTL
	)
	    NS          masterdns.encontrack.com.
        IN  NS          slavedns1.encontrack.com.
        IN  NS          slavedns2.encontrack.com.
@       IN  A           18.218.94.50
@       IN  A           18.218.94.50
slavedns1       IN  A   10.10.4.32
slavedns2       IN  A   10.190.4.32
masterdns       IN  A   10.190.5.90

; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; ;
;            Servidores Publicos.             ;
; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; ;

www             IN  	A   	18.218.94.50
www.citasinstalacion    A       99.192.255.83
citasinstalacion        A       99.192.255.83
encontrack              A       18.218.94.50
www.qualitas            A       99.192.255.83
mail5                   A       52.9.231.149
qualitas                CNAME   www.qualitas
www.gnp                 A       99.192.255.83
gnp                     CNAME   www.gnp
axa                     A       10.190.5.40
b2b                     A       99.192.255.84
miflotaenvivo           A       99.192.255.84
flotaenvivo             A       99.192.255.84
www.axa                 CNAME   axa
mail                    A       200.66.65.18
bitrix                  A       99.192.255.83
instalaciones           CNAME   www
presentaciones          CNAME   instalaciones
riesgos                 A       10.190.5.194
www.riesgos             CNAME   riesgos
contenido               A       142.0.160.50
flotilla                A       142.0.160.50
mercadotecnia           A       142.0.160.50
images.mercadotecnia    CNAME   elqcdn.eloqua.com.
app.mercadotecnia       CNAME   s513199280.t.en25.com.
api-flotcon             A       35.175.166.20
test2-flotcon            A       18.218.94.50
test-flotcon            A       99.192.255.84
css                     A       99.192.255.84
qrm                     A       99.192.255.84
servicios               A       99.192.255.83
cam                     A       99.192.255.82
csv                     A       99.192.255.83
documentos              A       99.192.255.83
portalcentros           A       99.192.255.82
posiciones              A       99.192.255.84

; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; ;
;         Servidores de MIAMI.                ;
; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; ;
timescale               A       10.190.5.225
sysaid-ce               A       10.190.5.65
phpipam                 A       10.190.5.94
robosqualitas           A       10.190.5.170
robosqualitas2          A       10.190.5.170
chat                    A       10.190.5.39
vcenter1                A       10.190.5.108
vcenter2                A       10.190.5.109
demonios-cas            A       10.190.5.235
sincronizador           A       10.190.6.235
demonios-robos          CNAME   demonios-cas
inventory               A       10.190.6.46
ldap                    A       10.190.5.46
cenvac                  A       10.190.5.40
webpublico              A       10.190.5.40
ftp                     A       10.190.5.40
cpvweb                  A       10.190.5.40
webexterno              A       10.190.5.40
kloxo                   A       10.190.5.40
consola                 A       10.190.5.170
video                   A       10.190.6.32
nagios                  A       10.190.6.32
comunes                 CNAME   webexterno
geolocation             A       10.190.6.36
noc                     A       10.190.6.31
mail2                   A       35.175.166.20
historicos              A       10.190.5.161
historicos-miami        CNAME   historicos
crm                     A       10.190.5.33
cas-streams-01          A       10.190.5.122
cas-streams-02          A       10.190.5.123
jenkins                 A       10.190.5.67
dotproject              A       10.190.6.73
historicos-tmp          A       10.190.5.58
demisiones              CNAME   geolocation
san1                    A       10.190.6.243
san2                    A       10.190.6.246
blade1                  A       10.190.5.113
blade2                  A       10.190.5.114
blade3                  A       10.190.5.115
flotcon                 A       10.190.5.87
rtablas                 CNAME   demisiones
com-cellotrack          A       10.190.6.45
bregistros              CNAME   rtablas
server2                 A       10.190.5.13
server7                 A       10.190.5.25
vdp                     A       10.190.5.88
nas-miami               A       10.190.6.97
ipa                     A       10.190.5.96
notificaciones          A       10.190.5.63
opmanager               A       10.190.5.209
api                     A       10.190.5.67
api-internos            A       99.192.255.83
mfv                     A       10.190.5.91
mfv02                   A       10.190.5.111
cucmp01                 A       10.190.5.100
jabber                  A       10.190.5.101
mfvback01               A       10.190.5.215
mfvback02               A       10.190.5.216
mfvback03               A       10.190.5.214
srvmonitorcpplvfl01     A       10.190.5.208
srvwebminplvfl01        A       10.190.5.85
enduser-streams-01      A       10.190.5.134
enduser-streams-02      A       10.190.5.135
web-services            A       10.190.6.37
web-services1           A       10.190.6.53
web-services2           A       10.190.6.54
;ws-intranet             CNAME   intranet
ws-intranet             CNAME   ws1
intranet                A       10.190.5.152
sincronizadores         A       10.190.6.34
ws-intranet-mcm         CNAME   intranet
biblioteca              A       10.190.5.40
ws1                     A       10.190.6.35
ws2                     A       10.190.6.37
ws3                     A       10.190.5.53
ws4                     A       10.190.6.54
ws5                     A       10.190.6.57
ws6                     A       10.190.6.43
ws7                     A       10.190.5.53
ws8                     A       10.190.5.53
ws9                     A       10.190.6.88
WS10                    A       10.190.6.89
ws11                    A       10.190.5.153
bd-intranet             CNAME   intranet
bd-celdas               CNAME   intranet
bd-intranet-miami       CNAME   bd-intranet
ws-gnp                  A       192.168.150.70
beacontrack1-reth       A       10.190.5.211
beacontrack2-back       A       10.190.5.213
comunicaciones          A       10.190.6.50
comunicaciones2         A       10.190.6.44
comunicacionesqro       A       10.190.0.10
comunicacionesqro2      A       10.190.0.11
monitorsiscom           A       10.190.5.162
comunicaciones1         A       10.190.5.162
comunicaciones2         A       10.190.5.163
comunicaciones3         A       10.190.5.164
comunicaciones4         A       10.190.5.165
comunicaciones5         A       10.190.5.166
comunicaciones6         A       10.190.5.167
comunicaciones7         A       10.190.5.168
comunicaciones8         A       10.190.5.169
comunicaciones2         A       10.190.5.163
comunicaciones3         A       10.190.5.164
comunicaciones4         A       10.190.5.165
comunicaciones5         A       10.190.5.166
comunicaciones6         A       10.190.5.167
comunicaciones7         A       10.190.5.168
comunicaciones8         A       10.190.5.169
comunicaciones9         A       10.190.5.171
comunicaciones10        A       10.190.5.197
monitorgv300            A       10.190.6.42
datakafka01             A       10.190.5.172
datakafka02             A       10.190.5.173
datekafka03             A       10.190.5.174
datakafka04             A       10.190.5.198
appkafka01              A       10.190.5.191
appkafka02              A       10.190.5.192
appkafka03              A       10.190.5.193
appkafka04              A       10.190.5.199
qlg                     A       10.190.5.60
sistemainterno          A       10.190.5.66
pintranet               A       10.190.5.67
cache                   A       10.190.5.116
comunicaciones-cache    A       10.190.5.220
cache_ws                A       10.190.6.116
cache-prod              A       10.190.1.7
bd-cpv1                 A       10.190.5.146
bd-cpv2                 A       10.190.5.147
pruebas-cache           A       10.190.6.49
cpv1                    A       10.190.5.146
cpv2                    A       10.190.5.147
cache-miami             CNAME   cache
mirrorcache             A       10.190.5.117
respaldos               A       10.190.5.181
sio                     A       10.190.5.196
hdi                     A       10.190.5.71

; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; ;
;            Servidores de Queretaro.         ;
; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; ;
sysaid                  A       10.10.4.69
helpdesk                A       10.10.4.69
mesadeayuda             A       10.10.4.44
alfresco                A       10.10.4.45
nexus                   A       10.10.4.44
vcenter-qro             A       10.10.4.44
jira                    A       10.10.4.44
confluence              A       10.10.4.44
admin-jira              A       10.10.4.31
admin-confluence        A       10.10.4.15
cucms01                 A       10.10.9.10
unity01                 A       10.10.9.9
uccx01                  A       10.10.9.8
mediasense01            A       10.10.9.11
cucms02                 A       192.168.10.10
unity02                 A       192.168.10.9
uccx02                  A       192.168.10.8
mediasense02            A       192.168.10.11
historicos-qro          A       10.190.3.146
charolas-cua            A       10.190.4.77
cua-proxy               A       192.168.0.254
controladorachimalistac A       192.168.4.244
video-chi               A       192.168.4.246
video-qro               A       10.190.3.1
ftp-sistemas            A       10.190.4.211
nas-qro                 A       10.190.3.239
nas-chimalistac         A       192.168.4.239
dreampbx                A       192.168.4.204
softland                A       192.168.4.207
erp                     CNAME   softland
antivirus.queretaro     A       10.10.1.243
antivirus.chimalistac   A       192.168.4.115
ask-qro                 A       10.190.3.204
ask-chi                 A       192.168.4.205
voice-blue              A       10.190.3.94
controlacceso           A       10.10.4.30
wlc-qro                 A       10.10.1.199
console-joan            A       10.10.4.7
acceso-pps2             A       10.10.4.21
acceso-pps3             A       10.10.4.20
videowall               A       10.10.1.250
webtest                 A       10.10.0.134
web-services-preprod    A       10.190.3.132
soq                     CNAME   intranet-preprod
intranet-preprod        A       10.190.3.133
sincronizadores-preprod A       10.190.3.144
biblioteca-preprod      CNAME   intranet-preprod
control-gestion         A       10.10.4.22
exclusa-ex              A       10.10.4.23
exclusa-in              A       10.10.4.24
salida-ep3              A       10.10.4.43
salida-ep2              A       10.10.4.18
acceso-site             A       10.10.4.19
nvr-qro                 A       10.10.4.41
mailzimbra              A       10.10.4.107
nvr-cua                 A       192.168.0.100
camara1-qrosur          A       10.10.4.28
camara2-qrosur          A       10.10.4.39
camara3-qrosur          A       10.10.4.25
camara4-qrosur          A       10.10.4.40
camara5-qrosur          A       10.10.4.37
camara6-qrosur          A       10.10.4.29
camara7-qrosur          A       10.10.4.36
camara8-qrosur          A       10.10.4.38
camara9-qrosur          A       10.10.4.27
camara10-qrosur         A       10.10.4.26
nagios-qro              A       10.10.4.34
dhcp-qro                A       10.10.1.239
joan-qrosur             A       10.10.0.215
pantalla-ti             A       10.10.1.9
pantalla-ida            A       10.10.0.150

; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; ;
;            Servidores de Base de Datos.     ;
; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; ;
bd-intranet-preprod     CNAME   intranet-preprod
cache-preprod           A       10.190.111.8
bd-cpv1-preprod         A       10.190.3.136
bd-cpv2-preprod         A       10.190.3.137
cpv1-preprod            CNAME   bd-cpv1-preprod
cpv2-preprod            CNAME   bd-cpv2-preprod
shadow-qro              A       10.10.4.35

; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; ;
;            Servidores de Preproduccion.     ;
; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; ;
pre-ws1                 A       10.10.4.49
pre-ws2                 A       10.10.4.50
pre-ws3                 A       10.10.4.51
pre-ws4                 A       10.10.4.60
pre-ws6                 A       10.10.4.61
pre-ws7                 A       10.10.4.62
pre-ws8                 A       10.10.4.63
pre-cache               A       10.10.1.217
pre-geolocation         A       10.190.3.144
pre-webpublico          A       10.190.3.145
pre-intranet            A       10.10.4.47
pre-cpv1                A       192.168.13.2
pre-cpv2                A       192.168.13.3
pre-biblioteca          A       10.190.3.133
pre-comunes             CNAME   pre-webpublico
pre-bdtrayectos         A       10.190.3.203
pre-cpv                 A       10.190.3.145
pre-flotcon             A       10.190.3.145
ftp-preprod             A       10.190.3.75
css-preprod             A       10.190.3.145
gvr                     A       10.190.3.54

; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; ;
;            Servidores de Desarrollo.        ;
; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; ;
des-uat                 A       10.190.3.125
des-cache               A       10.10.4.71
des-uat-cache           A       10.190.3.127
cachetest               A       10.10.4.46
des-procesados-cpv      A       10.190.3.124
des-kloxo               A       192.168.3.30
des-ws1                 A       192.168.3.31
des-ws2                 A       192.168.3.32
des-ws3                 A       192.168.3.33
des-ws4                 A       192.168.3.34
des-ws5                 A       192.168.3.35
des-ws6                 A       192.168.3.36
des-slut-server         A       192.168.3.40
des-riuk                A       192.168.3.41
des-intranet            A       192.168.3.42
des-license             A       192.168.3.43
des-cpv1                A       192.168.3.44
des-cpv2                A       192.168.3.45
des-qa-cache            A       192.168.3.46
cache-desarrollo        A       10.190.3.230
wiki-desarrollo         A       10.190.3.106
cachedes                A       10.10.4.32
