$ORIGIN	flotaencontrol.com.
$TTL 86400
@   IN  SOA     masterdns.flotaencontrol.com. root.flotaencontrol.com. (
        {{ serialZone }}  ;Serial
        3600        ;Refresh
        1800        ;Retry
        604800      ;Expire
        86400       ;Minimum TTL
)
@       IN  NS          masterdns.flotaencontrol.com.
@       IN  NS          slavedns1.flotaencontrol.com.
@       IN  NS          slavedns2.flotaencontrol.com.
@       IN  A           35.175.166.20
@       IN  A           35.175.166.20
slavedns1       IN  A   10.10.4.32
slavedns2       IN  A   10.190.4.32
masterdns       IN  A   10.190.5.230
www             IN  A   35.175.166.20
