[Unit]
Description=Apache Tomcat 9
After=syslog.target network.target

[Service]
User=tomcat
Group=tomcat
Type=forking
Environment=CATALINA_PID={{ tomcat.path }}/temp/tomcat.pid
Environment=CATALINA_HOME={{ tomcat.path }}
Environment=CATALINA_BASE={{ tomcat.path }}
ExecStart={{ tomcat.path }}/bin/startup.sh
ExecStop={{ tomcat.path }}/bin/shutdown.sh
Restart=on-failure

[Install] 
WantedBy=multi-user.target